.image-container {
  display: flex;
  .image {
    display: inline-block;
    border: 0;
    border-color: transparent;
    margin-left: auto;
    margin-right: auto;
    &:active {
      border: 0;
    }
    &:hover {
      border: 0;
    }
    img {
      max-width: 80vw;
      max-height: 30vw;
    }
  }
}

.tags {
  display: flex;
  align-items: center;
}

mat-chip-set {
  margin-left: 0.5em;
}

mat-chip {
  margin: 0.2em;
  a {
    color: inherit;
    text-decoration: inherit;
    &:hover {
      color: inherit;
    }
    &:active {
      color: inherit;
    }
    &:visited {
      color: inherit;
    }
  }
}

mat-form-field {
  width: 100%;
}

:host ::ng-deep .mdc-checkbox {
  padding-right: 0;
}
